<div class="scrollClass">
    <div class="card text-black ">
        <div class="card-header bg-secondary text-white">{{issueDetail.issueType.name}}</div>
        <img *ngIf=issueDetail.imageUrl src="{{issueDetail.imageUrl}}" class="card-img-top" alt="...">
        <div class="card-body bg-light mb-3">

            <p class="card-text text-secondary">{{issueDetail.description}}</p>
            <hr>
            <i class="fas fa-tags"> </i>
            <p><cite title="Tags">{{issueDetail.tags}}</cite></p>

            <!-- <h5 class="card-title">Comments</h5> -->
            <div *ngIf="comments.length>0">
                <i class="far fa-comments"></i>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let comment of comments" class="list-group-item">{{comment.text}}</li>
                </ul>
            </div>

            <div class="btn-group mt-3 float-right" role="group">
                <a (click)="toggleComment()" class="btn btn-primary btn-sm rounded-circle mr-2"><i class="far fa-comments"></i></a>
                <a (click)="updateIssue(issueDetail)" class="btn btn-secondary btn-sm rounded-circle mr-2"><i class="fas fa-pen"></i></a>
                <a (click)="deleteIssue(issueDetail)" class="btn btn-danger btn-sm rounded-circle"><i class="fas fa-trash-alt"></i></a>
            </div>
        </div>

    </div>

    <div *ngIf="newComment">
        <input #comment type="text" class="form-control" id="comment" placeholder="Add your comment" ngModel name="comment">
        <div class="mt-3">
            <a (click)="addComment(issueDetail)" class="btn btn-primary btn-sm">Send</a>
        </div>
    </div>
</div>