<div class="alert alert-info" role="alert">
    Update Issue
</div>

<form issue #issueForm="ngForm" (submit)="updateIssue(issueForm)">
    <div class="form-group">
        <label for="issueType">Issue type</label>
        <select class="form-control" id="issueType" [(ngModel)]="issueToUpdate.issueType.name" name="issueType" required>
            <option>{{issueToUpdate.issueType.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="issueToUpdate.description" name="description" required>
    </div>
    <!-- <div class="form-group">
        <label for="imageUrl">Image(s)</label> -->
    <!-- <input type="text" class="form-control" id="imageUrl" placeholder="Image URL" ngModel name="imageUrl"> -->
    <!-- <input (change)="onChange($event.target.files)" type="file" class="form-control-file" id="image" ngModel name="imag" multiple="multiple"> -->
    <!-- </div> -->
    <div class=" form-group ">
        <label for="tag">Tag</label>
        <input type="text " class="form-control " id="tag" placeholder="Ajouter tags séparés par ; " [(ngModel)]="issueToUpdate.tags" name="tag">
    </div>

    <button [disabled]="issueForm.invalid" type="submit" class="btn btn-success">Update</button>
    <button [disabled]="issueForm.invalid" class="btn btn-primary">Cancel</button>

</form>