<p>provide-issue-page works!</p>
<alert type="success">
    <strong>Well done!</strong> You successfully read this important alert message.
</alert>
<h4>Sélection du type de problème</h4>
<!-- <mat-form-field>
    <mat-label></mat-label>
    <mat-select [(value)]="selected">
        <mat-option *ngFor="let issueType of issueTypes" [value]="issueType.name">
            {{issueType.name}}
        </mat-option>
    </mat-select>



</mat-form-field>
<p>Vous avez choisi {{selected}} comme type de problème</p>

<mat-card>Simple card</mat-card>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->