<div class="scrollClass">
    <div *ngFor="let issue of allIssues" class="card text-white mb-3" style="max-width: 18rem;">
        <div class="card-header bg-secondary">{{issue.issueType.name}}</div>
        <div class="card-body bg-info">
            <p class="card-text">{{issue.description}}</p>
            <div class="btn-group" role="group">
                <button type="button" (click)="showDetail(issue)" class="btn btn-success btn-sm">Detail</button>
                <button type="button" (click)="showOnMap(issue)" class="btn btn-success btn-sm">Show on map</button>
            </div>


        </div>
    </div>
</div>