<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        ...
    </nav>

    <!-- Page Content -->
    <div id="content">
        <!-- We'll fill this with dummy content -->
        <p>dummy-page works!</p>
        <app-provide-issue-page></app-provide-issue-page>

        <button (click)="createNewIssueType()">Creation Nouveau type de probleme</button>








        <app-logout-button></app-logout-button>
    </div>

</div>

<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>

    <!-- A sidebar -->
    <!-- <ng-sidebar [(opened)]="_opened">
      <p>Sidebar contents</p>
    </ng-sidebar> -->

    <!-- Page content -->
    <!-- <div ng-sidebar-content>
      <button (click)="_toggleSidebar()">Toggle sidebar</button>
    </div> -->

</ng-sidebar-container>