/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.scrollClass {
    height: 90vh;
    overflow-y: scroll;
}

.box-width30 {
    width: 30%;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
